@import '../../variables.scss';

.notes {
  &__form {
    background-color: #d2e4ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: $fontM;
      font-weight: $bold;
    }

    &__category {
      display: flex;
      flex-direction: row;
      margin: 20px;

      &__btn {
        border: none;
        background-color: #bbd6ff;
        margin: 5px;
        border-radius: 10px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    & input,
    textarea {
      border: none;
      background-color: #bbd6ff;
      font-size: $fontM;
      font-family: Nunito;
      margin: 5px;
    }
  }
}
