@import '../../variables.scss';

.list {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .list {
    width: 40%;
    max-height: 40vh;
    overflow-y: scroll;
  }
}
