@import '../../variables.scss';

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
  padding: 3px;
}

.input {
  border: none;
  width: 80%;
}

.btn {
  font-size: $fontXxs;
  background-color: transparent;
  opacity: 0.5;
  border: none;
}

.task {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;

  &--completed {
    background-color: rgba(214, 245, 142, 0.2);
  }

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;

    &__img {
      height: 30px;
    }

    &--delete {
      position: absolute;
      top: 2%;
      right: 2%;
      height: 25px;
      opacity: 0.6;

      & img {
        height: 25px;
      }
    }
  }

  &__text {
    font-size: $fontXxs;

    &--completed {
      color: rgb(3, 59, 3);
    }
  }
}
