@import '../../variables.scss';

.category {
  width: 90%;

  &__title {
    font-size: $fontXs;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__input {
      display: none;
    }

    &__label {
      display: inline-block;
      height: 40px;
      flex-grow: 1;
      transition: flex-grow 0.2s ease-out;

      &--red {
        background-color: rgb(185, 0, 0);
      }

      &--blue {
        background-color: blue;
      }

      &--violet {
        background-color: violet;
      }

      &--green {
        background-color: green;
      }

      &--yellow {
        background-color: yellow;
      }
    }

    & input:checked + label {
      flex-grow: 4;
      transition: flex-grow 0.2s ease-in;
    }
  }
}

@media screen and (min-width: 1024px) {
  .category {
    width: 60%;
  }
}
