@import '../../variables.scss';

.wrapper {
  position: relative;
}

.title {
  padding: 15px 20px;
  font-size: $fontM;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.btn {
  position: fixed;
  display: block;
  right: 30px;
  bottom: 110px;
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 50%;
  background-color: $tertiary;
}

@media screen and (min-width: 1024px) {
  .finances {
    &__content {
      flex-direction: row;

      &__list {
        width: 40%;
      }
    }
  }
  .btn {
    right: 150px;
    bottom: 50px;
  }
}
