@import '../../variables.scss';

.types {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin-top: 30px;

  &__title {
    margin-bottom: 10px;
    font-size: $fontS;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & label {
      margin: 10px;
      opacity: 0.6;
      transition: all 0.1s ease-out;
    }

    &__input {
      display: none;

      &:checked + label {
        background-color: $inputs;
        transform: scale(1.2);
        opacity: 1;
        transition: all 0.1s ease-in;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .types {
    width: 60%;
  }
}
