@import '../../variables.scss';

.title {
  margin-bottom: 10px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  &__label {
    margin: 7px;
    padding: 5px;
    opacity: 0.6;
    transition: all 0.1s ease-out;
    display: flex;
    flex-direction: column;

    &__img {
      height: 40px;
    }
  }

  & input:checked + label {
    background-color: $inputs;
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.1s ease-in;
  }

  &__input {
    display: none;
  }
}
