@import '../../variables.scss';

.finances {
  &__form {
    padding: 20px;
    margin: 20px;
    background-color: #d2e4ff;

    & input {
      border: none;
      background-color: #bbd6ff;
      font-size: $fontS;
      font-family: Nunito;
      margin: 5px;
    }

    &__title {
      font-size: $fontM;
      text-align: center;
      margin-bottom: 10px;
    }

    &__type {
      margin: 30px;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__category {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      &__label {
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;

        &__img {
          height: 40px;
        }
      }

      & input:checked + label {
        background-color: #bbd6ff;
      }

      &__input {
        display: none;
      }
    }

    &__content {
      margin: 35px 10px;
      display: flex;
      flex-direction: column;
    }
  }
}
