@import './variables.scss';

.main {
  min-height: calc(100vh - 60px);
  margin-bottom: 60px;
  background-color: $primary;
}

@media screen and (min-width: 1024px) {
  .main {
    margin-bottom: 0;
    margin-right: 80px;
    min-height: 100vh;
  }
}
