$primary: #e2f3f5;
$inputs: #c3e3e7;
$secondary: #22d1ee;
$tertiary: #3d5af1;
$quaternary: #0e153a;
$grey100: hsl(0, 0%, 96%);
$grey200: hsl(0, 0%, 90%);
$grey300: hsl(0, 0%, 70%);
$black: hsl(0, 0%, 0%);
$light: 300;
$bold: 600;
$fontXxs: 1rem;
$fontXs: 1.3rem;
$fontS: 1.6rem;
$fontM: 1.9rem;
$fontL: 2.1rem;
$fontXl: 2.4rem;
$fontXxl: 3rem;
